[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	sg = "!f() { git log --all --grep=\"$1\" --pretty=format:\"%h\" | xargs -n1 git show --color=always; }; f"
